{% extends 'base.html.twig' %}

{% block title %}Creation - LePtitJardinier{% endblock %}

{% block content %}
<style>
</style>

<div class="haie-section">
    <h2>Ajouter un type de haie</h2>
    {{ form(form) }}
</div>
{% endblock %}
