{{ form_start(form) }}
    {{ form_widget(form, {'attr': {'class': 'form-input-client'}}) }}
    <button class="btn btn-primary btn-lg">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}