{% extends 'base.html.twig' %}

{% block title %}Modifier - LePtitJardinier{% endblock %}

{% block content %}
<style>
</style>

<div class="haie-section">
    <h2>Modifier un type de haie</h2>
    {{ form(form) }}
</div>
{% endblock %}
